:root{
    --color-main:#4fba69;
    --color-rgba:rgb(240,248,242);
    
}
body{
    margin: 0;
    font-family:Tahoma;
    
}
.back-top a{
    color: var(--color-main);
    position: fixed;
    z-index: 1;
    top:35vw;
    right: 3vw;
    font-size: 5vw;
    opacity: 0.8;
    cursor: pointer;
    animation: ring 1s infinite linear alternate;
}
.back-top i{
    border-radius: 50%;
}
.back-top:hover a{
    color: rgba(20, 124, 228, 0.623);
}
@keyframes ring{
    from{
        scale: 1;
    }
    to{
        scale: 1.2;
    }
}
.header{
    background-color: white;
    z-index: 10;
    width: 100vw;
    display: flex;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-bottom: 1px solid rgba(129, 128, 128, 0.516);
    position: relative;
}
.body{
    display: flex;
    margin-right: 3vw;
    margin-left: -1vw;     
}
.content{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: absolute;
    top: 7vw;
    left: 240px;
}
.sponsor{
    display: flex; 
    flex-direction: column;
}
.sponsor-bottom{
    display: flex;
    
}
.sponsor-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 9vw;
    cursor: pointer;
    margin-right: 2vw;
}
.hot{
    display: flex;
    flex-direction: column;
}
.hot-bottom{
    display: flex;
    justify-content: space-between;
    
}
.hot-game{
    display: flex;
    flex-direction: column;
    width: 22vw;
    
    cursor: pointer;
}
.hot-game:not(.hot-game:last-child){
    margin-right: 2vw;
}

@keyframes trans{
    from{transform: translateY(0);}
    to{
        transform: translateY(-0.5vw);
    }
}
    /* Suggestion */
.suggestion{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    padding-bottom: 2vw;
    border-bottom: 1px solid rgba(201, 191, 191, 0.491);
}
.suggestion-bottom{
    display: flex;
    margin-top: 0.3vw;
    justify-content: space-between;
}
.suggestion-game{
    display: flex;
    flex-direction: column;
    width: calc((75vw - 5vw)/5);
    cursor: pointer;
}
.suggestion-game:not(.suggestion-game:first-child){
    margin-left: 1vw;
}
.suggestion-game:hover{
    animation: trans 0.25s ease both;
}
    /* cooker game */
.cooker{
    display: flex;
    flex-direction: column;
    margin-top: 2.4vw;
}
.cooker-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5vw;
    
}
.more:hover {
    color: var(--color-main);
}
.cooker-bottom{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.cooker-game{
    display: flex;
    width: 16.3vw;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 1.7vw;

}

.cooker-game-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}