.logo img{
    align-self: center;
    width: 15vw;
    height: 3.6vw;
    margin-left: 2vw;
    margin-right: 3vw;
    cursor: pointer;
}
.search{
    align-self: center;
    height: 3.4vw;
    width: 40vw;
    margin-right: auto;
    display: flex;
    overflow: hidden;
    
}
.search-icon{
    position: absolute;
    top:0.8vw;
    right: 1vw;
}
.search-input{
    height: 100%;
    width: 37vw;
    box-sizing: border-box;
    border-radius: 0.5vw;
    border: 1px solid rgb(188, 175, 175);
    opacity: 0.5;
    position: relative;
}
input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 2vw;
    box-sizing: border-box;
    border-radius: 0.5vw;
    outline: none;
}
.sign{
    font-size: 1.5vw;
    text-align: center;
    align-self: center;
    width: 12vw;
    height: 3.5vw;
    color: white;
    background-image: linear-gradient(90deg, #96c83d,#51bb68);
    border-radius: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
    box-shadow: #add16b 0px 0.1vw 0.5vw 0px;
    font-weight: bolder;
    cursor: pointer;
    box-sizing: border-box;
}
.sign div{
    margin-top: 0.7vw;
}
.sign:hover{
    background-color:var(--color-main);
    box-shadow: #add16b 0px 8px 20px 0px;
}
/* body */
    /* navigation */
.nav{
    background-color: white;
    width: 240px;
    height: 100vh;
    margin-top: 2vw;
    position: absolute;
    z-index: 9;
    top:5vw;
    padding: 0 10px;
    box-sizing: border-box;
}
.nav-list{
    padding-right: 40px;
}
ul.nav-list{
    list-style-type: none;
    margin: 0;
    
}
.nav-list p{
    font-size: 17.5px;
    text-align: center;
    margin-bottom: 0;
}

.nav-list-item{
    font-size: 17.5px;
    width: 100%;
}
.fav-hidden{
    position: relative;
    box-sizing: border-box;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    
}
.fav-menu{
    position: absolute;
    top: 0;
    left: calc(100% + 3px);
    z-index: 11;
    width: 200px;
    box-shadow: 0 1px 3px rgb(186, 181, 181);
    background-color: white;
    padding: 0 3px;
    list-style-type: none;
    border-radius: 5px;
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: 1s;
    box-sizing: border-box;
    margin-left: 2px;
}

.fav-hidden::after{
    display: block;
    content: "";
    width: 20px;
    height: 40px;
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: transparent;
}

.fav-hidden:hover .fav-menu{
    /* display: block; */
    height: calc(30px * 4 + 25px);
}
.fav-game{
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: rgb(139, 136, 136);
    padding: 0 3px;
    cursor: pointer;
}
.fav-game{
    margin-top: 5px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.fav-game-img{
    height: 100%;
    width: 30px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 2px;
}

.nav-list-item-img{
    width: 25px;
}
li.nav-list-item-1{
    margin: 3px 0;
    color: rgb(139, 136, 136);
    padding: 3px 15px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
.nav-list-item-1 a{
    display: block;
    text-decoration: none;
    color: rgb(151, 144, 144);
}
.nav-list-item-fav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px ;
    padding: 3px 5px 5px 5px;
    border-top: 2px solid transparent;
    box-sizing: border-box;
    color: rgb(138, 131, 131);
    cursor: pointer;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
a:hover{
    color: var(--color-main);
    background-color: var(--color-rgba);
}
.nav-list-item-1:hover,.fav-game:hover, .fav-hidden:hover {     
    color: var(--color-main);
    background-color: var(--color-rgba);
    border-radius: 0.5vw;
    border-left: 2px solid rgb(105, 105, 207);
    border-right: 2px solid rgb(105, 105, 207);
}
.nav-list-item-fav:hover{
    color: var(--color-main);
    background-color: var(--color-rgba);
    border-radius: 0.5vw;
}
.nav-list-item p{
    font-weight: 600;
    color: white;
    background-color: var(--color-main);
    border-radius: 0.5vw;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}
.list-item-hidden {
   list-style-type: none; 
   position: absolute;
   box-sizing: border-box;
   width: 100%;
   margin-top: 2px;
   padding: 0;
   display: none;
   transition: 1s;
   box-shadow: 0 1px 3px rgb(186, 181, 181);
   border-radius: 5px;
   
}
.nav-list-item{
    position: relative;
    margin-right: 30px;
    margin-top: 3px;
    cursor: pointer;
    
}
.nav-list-item .border{
    display: block;
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(216, 21, 148);
    transition: 1s;
    left: 4%;
    
}
.nav-list-item:hover .border{
    width: 90%;   
}

.nav-list-item:hover .list-item-hidden{
    display: block;
    animation: display 0.6s;
}
@keyframes display{
    from{opacity: 0;}
    to{opacity: 1;}
}
    /* content */
.top-title{
    padding: 2vw .0 0px 0;
}
.top-title img{
    width: 2.2vw;
}

.top-title span{
    color: var(--color-main);
    font-weight: bolder;
    font-size: 2.4vw;
    padding-left: 0.3vw;
    
}
.sponsor-top{
    font-size: 2vw;
    padding-top: 1vw;
    margin-bottom: 1vw;
}
.sponsor-img img{
    width: 10vw;
    border-radius: 1vw;
    
}

.sponsor-brand{
    font-size: 1.2vw;
    opacity: 0.8;
    margin: 1vw 0;
}
    /* hot game */
.hot-title{
    color: var(--color-main);
    font-size: 1.95vw;
    margin-top: 1%;
    margin-bottom: 1.5vw;
}
.hot-title img{
    width: 2.5vw;
}
.hot-game-img img{
    width: 23vw;
    border-radius: 0.8vw;
}
.hot-game-name{
    font-size: 1.5vw;
    margin-top: 1vw;
} 

.hot-game:hover{
    translate: 0 -3px;
}
.suggestion-title p{
    font-size: 2vw;
    margin-bottom: 1vw;
    font-weight: 500;
}
.suggestion-game-img img{
    width: calc((75vw - 5vw)/5);
    height: calc((75vw - 5vw)/5);
    border-radius: 1vw;
    object-fit: cover;
}
.suggestion-game-name{
    color: rgb(98, 90, 90);
    font-size: 1.2vw;
    margin-top: 0.4vw;
}
.cooker-heading span{
    font-size: 2vw;
    font-weight: 500;
    align-self: center;
}
.cooker-heading div{
    font-size: 1.4vw;
    color: rgba(121, 115, 115, 0.737);
    background-color:rgb(245,245,245);
    width: 9vw;
    align-items: center;
    align-self: center;
    padding: 1vw 1vw;
    border-radius: 0.5vw;
    text-align: center;
    cursor: pointer;
}
.more p{padding: 0;
margin: 0;}

.cooker-game-img img{
    width: 5.8vw;
    border-radius: 0.5vw;
    margin-right: 1vw;
    transition: 0.2s linear;
}
.cooker-game-title-name span{
    font-size: 1.4vw;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.cooker-game-title-play{
    font-size: 1.2vw;
    color: var(--color-main);
    font-weight: 600;
}
