html, body{
  margin: 0;
}

.background{
  background-image: url(./img/background.jpg);
}

.shop-name{
  width: 20vw;
  position: absolute;
  top: 1.5vw;
  
}

form {
  border: violet solid 1px;
  border-radius: 3px;
  height: 15%;
  width: 20%;
  position: absolute;
  right: 3%;
  bottom: 25%;
}
input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  border: 0;
  box-sizing: border-box;
}
.header{
  background-image: url(./img/banner.jpg);
  background-size: cover;
  width: 100%;
  height: 10vw;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
  
}
.menu-top{
  font-size: 1vw;
  color: white;
  display: flex;
  justify-content: flex-end;
  background-color:
}
.menu-top li{
  font-weight: bolder;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.menu-top li:hover{
  color: white;
  opacity: 0.8;
}
.welcome{
  display: inline-block;
  margin-bottom: 0;
  font-size: 2vw;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 1px white;
  position: absolute;
  top: 7.5vw;
  right: 25vw;
  animation: welcome 10s linear infinite;
}
@keyframes welcome{
  0% {translate: 25vw;color: rgb(244, 27, 27);}
  25% {translate: 0vw;color: rgb(244, 226, 27);}
  50% {translate: -25vw;color: rgb(111, 0, 255);}75% {translate: -50vw;color: rgb(255, 0, 157);}
  100% {translate: -75vw; color: rgb(228, 166, 42);}
}

.menu {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0, #129ff6,#d6e4ed);
  margin-top: 3px;
  display: flex;
  justify-content:space-around;
}
.menu-item:hover{
  font-size: 1.8vw;
  color: white;
  background-color: #5a2cf341;
  border-radius: 3px;
  border-bottom: #f612a6 solid 3px;
}
.menu-item{
  width: max-content;
  padding: 5px;
  min-width: max-content;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5vw;
  line-height: 2vw;
  margin: auto;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  box-sizing: border-box;
}

.menu--item-topleft{
  background-color: white;
  display: none;
  position: absolute;
  left: 0;
  margin-top: 2px;
  border: #111111 solid 1px;
  list-style-type: none;
  width: 100%;
  z-index: 1;
}
.item-topleft{
  color: #129ff6;
  width: 100%;
  font-size: 1.2vw;
  border-bottom: 1px solid black;
  text-align: left;
  padding-left: 30px;
}
.item-topleft:hover{
  background-color: #e7aadeb6;
  scale: 105%;
}
.dropdown{
  position: relative;
  display: inline-block;
  width: 2vw;
}

.dropdown:hover .menu--item-topleft {display: block;
}
.p{
  color: rgb(0, 174, 255);
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
  border-top: #194ae957 solid 1px;
  padding: 5px;
  max-height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.p p:first-child{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: auto;
}
.td:hover .p, .td:hover .b {
  background-color: #129ff68a;
  color: white;
  border-radius: 10px;
}

.b{
  color: red;
  text-decoration: underline;
  font-size: 100%;
  text-align: center;
  padding: 0px 5px 0 5px;
  
}

.list-top img{
  width: 100%;
  margin-top: 10px;
}

.td:hover{
  scale: 105%;
  box-shadow: 3px 8px 10px 6px #888888ad;
}

.td{
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 7px 5px #888888ad;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
    box-sizing: border-box;
    border: #129ff6 solid 1px;
    animation: border 4s infinite linear;
} 
@keyframes border{
  0%{border: #12f671 solid 1px;}
  50%{border: #f69b12 solid 1px;}
  100%{border: #f612a6 solid 1px;}
}

.tr{
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 15px 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
a{
  width: calc((100%-25)/5);
  text-decoration: none;
  margin-left: 25px;
  box-sizing: border-box;
}
a:last-child{
  margin-right: 25px;
}

.icon-i{
  height: 1.9vw;
  width: 1.9vw;
  border-radius: 50%;
}
.icon-i:hover{
  border: #f612a671 solid 1px;
}
div.menu--item-topleft {
  color: white;
  background-image: linear-gradient(0deg, #99d2f5e6, #1097ebdd);
  width: 13vw;
  margin-top: 0;
  border: #2ca6f3 solid 1px;
  border-radius: 10px;
  padding: 3px;
  font-size: 1.2vw;
}
.menu--item-topleft img{
  width: 13vw;
  border-radius: 10px;
}
.td img:hover:last-child{
  translate: 0 6vw;
  scale: 2;
  transition: 1s;
  border-radius: 10px;
  border: #1097ebdd solid 1px;
}
.hot{
  
  margin: 20px;
  border-radius: 20px;
  background-image:linear-gradient(180deg, rgba(79, 79, 241, 0.459), rgba(189, 189, 224, 0.532)) ;
  padding-bottom: 0.1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.not-hot{
  margin: 10px 20px;
  border-radius: 20px;
  background-image:linear-gradient(180deg, rgba(35, 114, 234, 0.459), rgba(189, 189, 224, 0.532)) ;
  padding-bottom: 0.1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hot-title{
  width: max-content;
  color: red;
  font-size: 2.5vw;
  font-weight: bolder;
  margin-left: 5vw;
  margin-top: 1vw;
  animation-name: color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  text-shadow: 1px 1px 1px rgba(242, 237, 237, 0.76);
  
}
@keyframes color{
  0% {color: red;translate: 0;}
  25% {color: rgb(215, 234, 14);translate: 17vw;}
  50% {color: rgb(238, 15, 171);translate: 34vw;}
  75% {color: rgb(30, 15, 238);translate: 51vw;}
  100% {color: rgb(21, 243, 36);translate: 68vw;}
}
.not-hot-title{
  width: max-content;
  color: red;
  font-size: 2.5vw;
  font-weight: bolder;
  margin-left: 5vw;
  margin-top: 1vw;
  animation-name: color1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  text-shadow: 1px 1px 1px rgba(242, 237, 237, 0.76);
  
}
@keyframes color1{
  0% {color: red;}
  25% {color: rgb(215, 234, 14)}
  50% {color: rgb(238, 15, 171)}
  100% {color: rgb(21, 243, 36)}
}
.messenger{
  position: fixed;
  top: 45vw;
  right: 1vw;
  color: rgba(12, 101, 234, 0.548);
  font-size: 4vw;
  animation: ring 1s infinite;
  cursor: pointer;
}
@keyframes ring{
  25%{transform: rotate(20deg);scale: 1.5;}
  50%{transform: rotate(-20deg);scale: 1.5;}
}
.messenger:hover{
  font-size: 6vw;
  color: rgb(12, 101, 234);
  animation: ring;
}
