html, body{
  margin: 0;
}

.background{
  background-image: url(/img/background.jpg);
}

.topper{
  position: fixed;
  top: 0;
  z-index: 2;
}

.shop-name{
  width: 25vw;
  position: absolute;
  top: 3vw;
  cursor: pointer;
}

form {
  width: 15vw;
  position: absolute;
  margin-left: 80vw;
  margin-top: 15vw;
}
input{
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  border: 0;
  box-sizing: border-box;
}
.header{
  background-image: url(/img/Banner-BIG-DESKm-1920x450\ \(1\).jpg);
  background-size: cover;
  width: 100%;
  height: 20vw;
  background-repeat: no-repeat;
  margin: 0;
}

.menu {
  width: 100%;
  height: 30px;
  background-color: #129ff6;
  margin-top: 3px;
  display: flex;
  justify-content:space-around;
}
.menu-item:hover{
  font-size: 2vw;
  color: white;
}
.menu-item{
  width: max-content;
  padding: 3px;
  min-width: max-content;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5vw;
  line-height: 2vw;
  margin: auto;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
 display: flex;
}

.menu--item-topleft{
  background-color: white;
  display: none;
  position: absolute;
  left: 0;
  margin-top: 2px;
  border: #111111 solid 1px;
  list-style-type: none;
  width: 100%;
  z-index: 1;
}
.item-topleft{
  color: #129ff6;
  width: 100%;
  font-size: 1.2vw;
  border-bottom: 1px solid black;
}
.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown:hover .menu--item-topleft {display: block;
}
p{
  font-size: 50%;
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 1px;
}

b{
  color: red;
  text-decoration: underline;
  font-size: 80%;
  margin-top: 1px;
}

a:link, a:visited{ */
  color: #111111;
  text-decoration: none;
}

a:hover, a:active{
  color: #111111;
  text-decoration: none;
}

a.list-top:link, a.list-top:visited {
  font-size: 2vw;
  font-weight: bold;
  background-color: white;
  color: blue;
  text-align: center ;
  text-decoration: none;
  display: block;
}

a.list-top:hover, a.list-top:active {
    background-color: rgb(115, 136, 221);
    color: white;
    border-radius: 5px;
}

img{
    width: 100%;
}

.list-top:hover{
  scale: 105%;
}

td{
    width: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px #11111131 ;
}

tr{
    vertical-align: bottom;
}

table{
    width: 100%;
    align-content: center;
    border-spacing: 20px;
    box-sizing: border-box;
    table-layout: fixed;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #129ff6;
}